@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: theme('fontFamily.sans');
  background-color: theme('colors.surface');
  color: theme('colors.ink');
}

#app {
  min-height: 100vh;
}
